.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: orange;
}
.header-contacts {
  display: flex;
  gap: 20px;
  align-items: center;
}